body {
    background-color: #52527a;
}

table, th, td {
    border: 1px solid black;
    color: white;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1em;
    grid-template-areas:
            ". . box0 box0 . ."
            ". . box1 box2 . ."
            "box3 box3 box3 box3 box3 box4";
    justify-items: stretch;
    align-items: stretch;
}

.container > div{
    background: rgba(38, 26, 88, 0.74);
    padding: 0em;
}

p{
    color: white;
}

.box0{
    grid-area: box0;
    text-align: center;
}

.box0 > p{
    font-family: 'Russo One', sans-serif;
    padding: 0;
    margin: 0;
}

.box1{
    grid-area: box1;
    text-align: center;
}

.box1 > p{
    font-family: 'Russo One', sans-serif;
}

.box1 > p:first-child{
    padding: 0;
    padding-top: 5px;
    margin: 0;
}

.box1 > p:last-child{
    padding: 3px;
    margin: 3px;
    font-size: 48px;
}

.box2{
    grid-area: box2;
    text-align: center;
}

.box2 > p{
    font-family: 'Russo One', sans-serif;
}

.box2 > p:first-child{
    padding: 0;
    margin: 0;
}

.box2 > p:last-child{
    padding: 3px;
    margin: 3px;
    font-size: 48px;
}

.box3{
    grid-area: box3;
}

.box4{
    grid-area: box4;
}

.box4 > table, th, td{
    border: 1px solid white ;


}

@media screen and (max-width: 600px) {
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 1em;
        grid-template-areas:
                "box0 box0"
                "box1 box2"
                "box3 box3"
                "box4 box4";
        justify-items: stretch;
        align-items: stretch;
    }

    .container > div{
        background: rgba(38, 26, 88, 0.74);
        padding: 0em;
    }

    p{
        color: white;
    }

    .box0{
        grid-area: box0;
        text-align: center;
    }

    .box0 > p{
        font-family: 'Russo One', sans-serif;
        padding: 0;
        margin: 0;
        font-size: 23px;
    }

    .box1{
        grid-area: box1;
        text-align: center;
    }

    .box1 > p{
        font-family: 'Russo One', sans-serif;
    }

    .box1 > p:first-child{
        padding: 5px 0 0;
        margin: 0;
        font-size: 19px;
    }

    .box1 > p:last-child{
        padding: 3px;
        margin: 3px;
        font-size: 400%;
    }

    .box2{
        grid-area: box2;
        text-align: center;
    }

    .box2 > p{
        font-family: 'Russo One', sans-serif;
    }

    .box2 > p:first-child{
        padding: 0;
        padding-top: 5px;
        margin: 0;
        font-size: 20px;
    }

    .box2 > p:last-child{
        padding: 3px;
        margin: 3px;
        font-size: 400%;
    }

    .box3{
        grid-area: box3;

    }

    .box4{
        grid-area: box4;
    }

    .box4 > table, th, td{
         border: 1px solid white ;


     }
}