<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
   <!-- <link rel="shortcut icon" href="ico2.ico"> -->
    <link rel="icon" type="image/png" href="icon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="icon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="icon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="icon-160x160.png" sizes="160x160" />
    <link rel="icon" type="image/png" href="icon-196x196.png" sizes="196x196" />
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script th:inline = "javascript">
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer",
                {
                    backgroundColor: "#52527a",
                    zoomEnabled: true,

                    title: {
                        text: "Stacja Pogodowa",
                        fontColor: "white"
                    },
                    legend: {
                        fontColor: "white"
                    },
                    axisY: {
                        title: "Temperatura *C",
                        interval: 5,
                        minimum: [[${minTemp}]],
                        maximum: [[${maxTemp}]],
                        labelFontColor: "white",
                        titleFontColor: "white"
                    },
                    axisX: {
                        title: "Czas",
                        labelFontColor: "white",
                        titleFontColor: "white"
                    },
                    toolTip: {
                        contentFormatter: function (e) {
                            var content = "";
                            for (var i = 0; i < e.entries.length; i++) {
                                content = content + CanvasJS.formatDate(e.entries[i].dataPoint.x, "DD.MM.YYYY  HH:mm") + "	";
                                content = content + e.entries[i].dataPoint.y + "*C";
                            }
                            return content;
                        }
                    },

                    data: [
                        {
                            type: "spline",
                            //https://canvasjs.com/docs/charts/chart-types/
                            //lineColor: "#fee8fd",
                            color: "#fee8fd",
                            legendText: "Temperatura na zewnątrz",
                            name: "series2",
                            showInLegend: true,
                            // legendMarkerColor: "green",
                            xValueType: "dateTime",
                            dataPoints: [[${arrayTempOut}]]
                        },
                        {
                            type: "spline",
                            color: "#f9a8a8",
                            //lineColor: "#f9a8a8",
                            //legendMarkerColor: "red",
                            // legendMarkerType: "circle",
                            legendText: "Temperatura wewnątrz",
                            name: "series1",
                            showInLegend: true,
                            xValueType: "dateTime",
                            dataPoints: [[${arrayTempIn}]]
                        }
                    ]
                });

            function onClick(e) {
                alert(e.dataSeries.type + ", dataPoint { x:" + e.dataPoint.x + ", y: " + e.dataPoint.y + " }");
            }

            chart.render();
        }
    </script>
    <style>
        body {
            background-color: #52527a;
        }
        table, th, td {
            border: 1px solid black;
            color: white;
        }
    </style>
</head>
<body>
<div id="chartContainer" style="height: 500px; width: 100%;">
</div>
<table>
    <tr >
        <td ><p>Aktualna temperatura wewnątrz : </p></td>
        <td th:text="${weather.getTempIn()}"></td>
    </tr>
    <tr >
        <td><p>Aktualna temperatura na zewnątrz : </p></td>
        <td th:text="${weather.getTempOut()}"></td>
    </tr>
</table>
<div>
    <a href="/chart/1">Wykres z jednego dnia</a>
    <br>
    <a href="/chart/3">Wykres z trzech dni</a>
    <br>
    <a href="/chart/7">Wykres z tygodnia</a>
    <br>
    <a href="/chart/30">Wykres z miesiąca</a>
    <br>
    <br>
    <a href="https://m.meteo.pl/krakow/60">Pogoda na dziś</a>

</div>


</body>
</html>