<!DOCTYPE html>
<html lang="pl" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stacja pogodowa</title>
    <link rel="icon" type="image/png" href="icon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="icon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="icon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="icon-160x160.png" sizes="160x160"/>
    <link rel="icon" type="image/png" href="icon-196x196.png" sizes="196x196"/>
    <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/grid.css"/>
    <link rel="stylesheet" type="text/css" href="css/hamburger.css"/>
    <link rel="stylesheet" type="text/css" href="css/menu.css"/>
    <script th:inline="javascript">
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer",
                {
                    backgroundColor: "#52527a",
                    zoomEnabled: true,

                    title: {
                        text: "",
                        fontColor: "white"
                    },
                    legend: {
                        fontColor: "white"
                    },
                    axisY: {
                        title: "Temperatura °C",
                        interval: 5,
                        minimum: [[${minTemp}]],
                        maximum: [[${maxTemp}]],
                        labelFontColor: "white",
                        titleFontColor: "white"
                    },
                    axisX: {
                        title: "Czas",
                        labelFontColor: "white",
                        titleFontColor: "white",
                        valueFormatString: "H:mm",
                        labelAngle: -50
                    },
                    toolTip: {
                        contentFormatter: function (e) {
                            var content = "";
                            for (var i = 0; i < e.entries.length; i++) {
                                content = content + CanvasJS.formatDate(e.entries[i].dataPoint.x, "DD.MM.YYYY  HH:mm") + "	";
                                content = content + e.entries[i].dataPoint.y + "*C";
                            }
                            return content;
                        }
                    },

                    data: [
                        {
                            type: "spline",
                            //https://canvasjs.com/docs/charts/chart-types/
                            //lineColor: "#fee8fd",
                            color: "#fee8fd",
                            legendText: "Temperatura na zewnątrz",
                            name: "series2",
                            showInLegend: true,
                            // legendMarkerColor: "green",
                            xValueType: "dateTime",
                            dataPoints: [[${arrayTempOut}]]
                        },
                        {
                            type: "spline",
                            color: "#f9a8a8",
                            //lineColor: "#f9a8a8",
                            //legendMarkerColor: "red",
                            // legendMarkerType: "circle",
                            legendText: "Temperatura wewnątrz",
                            name: "series1",
                            showInLegend: true,
                            xValueType: "dateTime",
                            dataPoints: [[${arrayTempIn}]]
                        }
                    ]
                });

            function onClick(e) {
                alert(e.dataSeries.type + ", dataPoint { x:" + e.dataPoint.x + ", y: " + e.dataPoint.y + " }");
            }

            chart.render();
        }
    </script>

</head>
<body>

<div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger">
        <div></div>
    </div>
    <div class="menu">
        <div>
            <div>
                <ul>
                    <li><a href="https://m.meteo.pl/krakow/60">Pogoda na dziś</a></li>
                    <li><a href="/chart/3">Wykres z trzech dni</a></li>
                    <li><a href="/chart/7">Wykres z tygodnia</a></li>
                    <li><a href="/chart/30">Wykres z miesiąca</a></li>
                    <li><a href="/smartHome">SmartHome</a></li>
                    <li><a href="/">Strona główna</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="box0">
        <p>Aktualna temperatura</p>
    </div>
    <div class="box1">
        <p>Na zewnatrz &#186C</p>
        <p th:text="${weather.getTempOut()}"></p>
    </div>
    <div class="box2">
        <p>W środku &#186C</p>
        <p th:text="${weather.getTempIn()}"></p>
    </div>
    <div class="box3">
        <div id="chartContainer" style="height: 500px; width: 100%;">
        </div>
    </div>
    <div class="box4">
        <table>
            <tr>
                <th colspan="3">
                    <p>Temperatura</p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>Min</td>
                <td>Max</td>
            </tr>
            <tr>
                <td>wewnątrz</td>
                <td th:title="${minTempThisDayInside.getDate()}">
                    <p th:text="${minTempThisDayInside.getTempIn()}"></p>
                </td>
                <td th:title="${maxTempThisDayInside.getDate()}">
                    <p th:text="${maxTempThisDayInside.getTempIn()}"></p>
                </td>
            </tr>
            <tr>
                <td>na zewnątrz</td>
                <td th:title="${minTempThisDayOutside.getDate()}">
                    <p th:text="${minTempThisDayOutside.getTempOut()}"></p>
                </td>
                <td th:title="${maxTempThisDayOutside.getDate()}">
                    <p th:text="${maxTempThisDayOutside.getTempOut()}"></p>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>